<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
</head>

<body>
    <div class="footer-basic d-none d-md-block">
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a>
            </div>
            
            <ul class="list-inline">
                <li class="list-inline-item"><a class="nav-link" href="#">Qui sommes-nous ?</a></li>
                <li class="list-inline-item"><a class="nav-link" href="#">Football</a></li>
                <li class="list-inline-item"><a class="nav-link" href="#">Basketball</a></li>
                <li class="list-inline-item"><a class="nav-link" href="#">Rugby</a></li>
                <li class="list-inline-item"><a class="nav-link" href="#">Tennis</a></li>
            </ul>
            <p class="copyright">Copyright - Angular Squad © 2021</p>
        </footer>
    </div>
</body>
</html>