<div class="footer-basic d-none d-md-block">
  <footer>
    <ul class="list-inline">
      <li class="list-inline-item">
        <a class="nav-link" [routerLink]="['/contact']">Qui sommes-nous ?</a>
      </li>
      <li class="list-inline-item">
        <a class="nav-link" [routerLink]="['/football']">Football</a>
      </li>
      <li class="list-inline-item">
        <a class="nav-link" [routerLink]="['/basketball']">Basketball</a>
      </li>
      <li class="list-inline-item">
        <a class="nav-link" [routerLink]="['/rugby']">Rugby</a>
      </li>
      <li class="list-inline-item">
        <a class="nav-link" [routerLink]="['/tennis']">Tennis</a>
      </li>
    </ul>
    <br />

    <div class="social">
      <a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i
          class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i
          class="icon ion-social-facebook"></i></a>
    </div>

    <p class="copyright">Copyright - Angular Squad © {{date| date:'yyyy'}}</p>
  </footer>
</div>