img {
  background-size: cover;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

#carousel-caption {
  display: flex;
  flex-direction: column;
}

.nomJoueuse {
  text-align: center;
  font-size: 22px;
  color: black;
  margin: 15px auto;
  line-height: 150%;
}
.sportJoueuse {
  font-size: 25px;
  color: white;
  margin-top: 1%;
  font-weight: bold;
  width: 25%;
  background-color: #dd4343;
  padding-top: 10px;
  margin: 10px auto;
}
.carousel-caption {
  background-color: white;
  opacity: 0.9;
}

.separation {
  height: 15px;
  background-color: chartreuse;
}

@media (max-width: 992px) {
  .joueuseDesc {
    display: none;
  }
}

@media (max-width: 767px) {
  .nomJoueuse {
    font-size: 120%;
    color: rgb(24, 24, 24);
    background-color: white;
    padding: auto;
    margin: auto;
  }
  .sportJoueuse {
    display: none;
  }
  .separation {
    display: none;
  }
  .carousel-caption {
    background-color: transparent;
  }

  .logo {
    width: 50%;
  }
}
