<p>article-rugby1 works!</p>
<section id="article">
    <h1 class="title">Nouvelles victoire des filles de RUGBY</h1>
<div class="imageText"> <img [src]="image1" alt="" class="image1">   
    <p class="premierPara">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius fugiat, dolor quibusdam dicta nam adipisci cumque et at quae quaerat assumenda natus dolores aperiam excepturi dolorem iure commodi magnam eligendi?
    Ratione aliquid maiores libero? Aspernatur, facere perferendis totam commodi nulla quam soluta? Consequuntur esse ut excepturi vitae deserunt dolores facilis? Molestiae placeat tempora corporis ab sint praesentium, aut suscipit iure.
    Et alias eligendi quam ut minus magnam excepturi laudantium error ipsa. Obcaecati veritatis dolore repellendus dolor hic, consectetur ut illo dolorem nesciunt, sit harum aliquid placeat nobis molestias laudantium mollitia!
    A illo repellendus aliquid doloremque beatae dicta debitis tempore ipsa enim. Totam accusamus tempore veniam illum nemo fugiat repudiandae numquam odit quae dignissimos. Recusandae optio alias fugiat ipsum nostrum sequi.
  s fugit quidem debitis ea, fugiat deserunt recusandae excepturi tempora consequatur id. Libero fugit blanditiis amet id? Officia dolorum facere dignissimos laudantium ipsum doloribus earum?
    Rxime impedit sapiente molestias iusto. Officia, enim quo consectetur perferendis architecto dolorem vero ipsum autem provident quaerat est obcaecati maiores fugit explicabo atque omnis nobis quasi? Officiis aliquid illum fugit.</p>
</div>
<div class="secondBlock">
    <p class="para2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati explicabo alias eligendi facilis illo temporibus voluptas dignissimos harum in? Ipsam voluptas maiores deserunt repellat non blanditiis laboriosam eligendi. Rem, accusantium!
    Harum est rem voluptatem minima velit ratione amet autem laudantium blanditiis aliquid, illum delectus explicabo modi quis laboriosam dicta at quae ex eaque veritatis animi rerum eveniet commodi? Quasi, nostrum!
    Voluptas reiciendis et magnanim soluta aliquid nulla, esse quo culpa distinctio necessitatibus, ratione ipsum vitae cumque quam cupiditate.
    Libero inventore tempora, porro officia fugit dolore nostrum ipsum dignissimos, natus non, explicabo veniam repellat maxime eveniet. Ipsa maiores quam iure voluptatum. Quae error mollitia totam id rerum repudiandae ducimus!
    Recusandae illo amet quos veritatis repellendus dolores adipisci atque. Eveniet fugit ad ab velit vero molestias, eum porro ex impedit optio quis. Magni deserunt provident commodi iusto error consequuntur obcaecati?
    Fugit consectetur tempore debitis voluptatem, quas aspernatur recusandae tenetur aut minus magnam esse quam a repellendus obcaecati quasi inventore culpa consequatur nulla temporibus nisi numquam et libero porro. Corporis, eum.</p>
    <img [src]="image2" alt="" class="image2" >
</div>
</section>
