.backgroundDirectencours {
  background-color: gainsboro;
  height: 550px;
  box-shadow: 0 0 13px;
}

.flex5elements {
  display: flex;
}

::ng-deep .mat-tab-label {
  height: 27px !important;
  min-height: 5px !important;
  margin: 3px !important;
  width: 100% !important;
  min-width: 5px !important;
}

::ng-deep .mat-form-field {
  width: 50%;
  background-color: rgb(218, 218, 218);
  font-size: 17px;
  text-align: center;
  vertical-align: middle;
}

h1.directencours {
  margin-left: 5%;
  font-size: 22px;
}

.text-deco-none {
  text-decoration: none;
}

mat-tab {
  text-decoration: none;
}

.logoclub {
  height: 20%;
}

table {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: space-around;
  font-size: 20px;
  height: 100%;
  font-size: 12px;
}

th {
  height: 10px;
}

td {
  height: 70px;
  width: 100%;
}

.margintop {
  margin-top: 5%;
}

.directencours {
  font-size: 30px;
  font-weight: bold;
  padding-top: 4%;
}

.table {
  background-color: white;
  height: 79%;
}

::ng-deep .mat-tab {
  background-color: rgb(218, 218, 218);
  height: 100%;
}

::ng-deep .mat-tab-body {
  height: 100%;
}

.AucunMatch {
  text-align: center;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

@media (max-width: 767px) {
  .AucunMatch {
    text-align: center;
    font-size: 85%;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }
}
