<div class="col-md backgroundDirectencours">
  <h1 class="directencours">Direct en cours...</h1>

  <mat-tab-group
    class="table"
    (selectedIndexChange)="getResultbyCountry($event)"
  >
    <mat-tab *ngFor="let pays of listePays" [label]="pays">
      <ng-template>
        <!---*ngIf="getMatchDirectFrance()"-->
        <table *ngFor="let score of matchListFrance">
          <div class="col-md-12 margintop">
            <span class="col-md-1 matchdirectsize">
              {{ score.equipeDomicile }}</span
            >

            <span class="col-md-1 matchdirectsize">
              {{ score.scoreDomicile }}</span
            >
            <span class="col-md-12 matchdirectsize"> - </span>
            <span class="col-md-12 matchdirectsize">
              {{ score.scoreExterieur }}</span
            >

            <span class="col-md-1 matchdirectsize">{{
              score.equipeExterieur
            }}</span>
          </div>
        </table>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
