<div class=" col-md backgroundDirectencours">
 <h1 class="directencours">Direct en cours ...</h1>
    
    <mat-tab-group class="table" >
    <div  >
    <mat-tab label="France" > 
       
        <div  *ngIf= "listScore.length==0; else afficherScore" > <p class="AucunMatch"> Aucun match en cours </p> </div>
        <ng-template #afficherScore>
        <table *ngFor="let score of listScore">
            
            <div class="col-md-12 margintop">
             
                <span class="col-md-1 matchdirectsize"> {{score.teams.home.name}}</span>
                
                <span class="col-md-1 matchdirectsize"> {{score.goals.home}}</span>
                <span class="col-md-12 matchdirectsize" > - </span>
                <span class="col-md-12 matchdirectsize" > {{score.goals.away}}</span>
                
                  <span class="col-md-1 matchdirectsize">{{score.teams.away.name}}</span>
                </div>
        </table>
      </ng-template>

              
        </mat-tab>
    </div>
    

    
    

    <mat-tab label="Italie" > 
        <table >
            
            <div class="col-md-12 margintop">
             
                <span class="col-md-1"> PSG</span>
                <span class="col-md-1"><img
                    src="assets/img/PSGlogo.png"
                    width="20px"
                    height="20px"
                  /></span>
                <span class="col-md-1"> 3</span>
                <span class="col-md-12" > - </span>
                <span class="col-md-12" > 3</span>
                <span class="col-md-12" ><img
                    src="assets/img/PSGlogo.png"
                    width="20px"
                    height="20px"
                  /></span>
                  <span class="col-md-1">OL</span>
                </div>
              </table>

              <table >
            
                <div class="col-md-12 margintop">
                 
                    <span class="col-md-1"> PSG</span>
                    <span class="col-md-1"><img
                        src="assets/img/PSGlogo.png"
                        width="20px"
                        height="20px"
                      /></span>
                    <span class="col-md-1"> 3</span>
                    <span class="col-md-12" > - </span>
                    <span class="col-md-12" > 3</span>
                    <span class="col-md-12" ><img
                        src="assets/img/PSGlogo.png"
                        width="20px"
                        height="20px"
                      /></span>
                      <span class="col-md-1">OL</span>
                    </div>
                  </table>

                  <table >
            
                    <div class="col-md-12 margintop">
                     
                        <span class="col-md-1"> PSG</span>
                        <span class="col-md-1"><img
                            src="assets/img/PSGlogo.png"
                            width="20px"
                            height="20px"
                          /></span>
                        <span class="col-md-1"> 3</span>
                        <span class="col-md-12" > - </span>
                        <span class="col-md-12" > 3</span>
                        <span class="col-md-12" ><img
                            src="assets/img/PSGlogo.png"
                            width="20px"
                            height="20px"
                          /></span>
                          <span class="col-md-1">OL</span>
                        </div>
                      </table>
       


    </mat-tab>
    <mat-tab label="Brésil" > 
        <table >
            
            <div class="col-md-12 margintop">
             
                <span class="col-md-1"> PSG</span>
                <span class="col-md-1"><img
                    src="assets/img/PSGlogo.png"
                    width="20px"
                    height="20px"
                  /></span>
                <span class="col-md-1"> 3</span>
                <span class="col-md-12" > - </span>
                <span class="col-md-12" > 3</span>
                <span class="col-md-12" ><img
                    src="assets/img/PSGlogo.png"
                    width="20px"
                    height="20px"
                  /></span>
                  <span class="col-md-1">OL</span>
                </div>
              </table>

              <table >
            
                <div class="col-md-12 margintop">
                 
                    <span class="col-md-1"> PSG</span>
                    <span class="col-md-1"><img
                        src="assets/img/PSGlogo.png"
                        width="20px"
                        height="20px"
                      /></span>
                    <span class="col-md-1"> 3</span>
                    <span class="col-md-12" > - </span>
                    <span class="col-md-12" > 3</span>
                    <span class="col-md-12" ><img
                        src="assets/img/PSGlogo.png"
                        width="20px"
                        height="20px"
                      /></span>
                      <span class="col-md-1">OL</span>
                    </div>
                  </table>

                  <table >
            
                    <div class="col-md-12 margintop">
                     
                        <span class="col-md-1"> PSG</span>
                        <span class="col-md-1"><img
                            src="assets/img/PSGlogo.png"
                            width="20px"
                            height="20px"
                          /></span>
                        <span class="col-md-1"> 3</span>
                        <span class="col-md-12" > - </span>
                        <span class="col-md-12" > 3</span>
                        <span class="col-md-12" ><img
                            src="assets/img/PSGlogo.png"
                            width="20px"
                            height="20px"
                          /></span>
                          <span class="col-md-1">OL</span>
                        </div>
                      </table>

    </mat-tab>
    <mat-tab label="Cameroun" > 
        <table >
            
            <div class="col-md-12 margintop">
             
                <span class="col-md-1"> PSG</span>
                <span class="col-md-1"><img
                    src="assets/img/PSGlogo.png"
                    width="20px"
                    height="20px"
                  /></span>
                <span class="col-md-1"> 3</span>
                <span class="col-md-12" > - </span>
                <span class="col-md-12" > 3</span>
                <span class="col-md-12" ><img
                    src="assets/img/PSGlogo.png"
                    width="20px"
                    height="20px"
                  /></span>
                  <span class="col-md-1">OL</span>
                </div>
              </table>

              <table >
            
                <div class="col-md-12 margintop">
                 
                    <span class="col-md-1"> PSG</span>
                    <span class="col-md-1"><img
                        src="assets/img/PSGlogo.png"
                        width="20px"
                        height="20px"
                      /></span>
                    <span class="col-md-1"> 3</span>
                    <span class="col-md-12" > - </span>
                    <span class="col-md-12" > 3</span>
                    <span class="col-md-12" ><img
                        src="assets/img/PSGlogo.png"
                        width="20px"
                        height="20px"
                      /></span>
                      <span class="col-md-1">OL</span>
                    </div>
                  </table>

                  <table >
            
                    <div class="col-md-12 margintop">
                     
                        <span class="col-md-1"> PSG</span>
                        <span class="col-md-1"><img
                            src="assets/img/PSGlogo.png"
                            width="20px"
                            height="20px"
                          /></span>
                        <span class="col-md-1"> 3</span>
                        <span class="col-md-12" > - </span>
                        <span class="col-md-12" > 3</span>
                        <span class="col-md-12" ><img
                            src="assets/img/PSGlogo.png"
                            width="20px"
                            height="20px"
                          /></span>
                          <span class="col-md-1">OL</span>
                        </div>
                      </table>
    </mat-tab>

    <mat-tab  > 
        <ng-template mat-tab-label> 
            <mat-form-field appearance="fill">
                <mat-label class="autres">Autres</mat-label>
                <mat-select>
                  <mat-option *ngFor="let pays of lesPays" [value]="pays.value">
                    {{pays.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

        </ng-template>

        <table >
            
            <div class="col-md-12 margintop">
             
                <span class="col-md-1"> PSG</span>
                <span class="col-md-1"><img
                    src="assets/img/PSGlogo.png"
                    width="20px"
                    height="20px"
                  /></span>
                <span class="col-md-1"> 3</span>
                <span class="col-md-12" > - </span>
                <span class="col-md-12" > 3</span>
                <span class="col-md-12" ><img
                    src="assets/img/PSGlogo.png"
                    width="20px"
                    height="20px"
                  /></span>
                  <span class="col-md-1">OL</span>
                </div>
              </table>

              <table >
            
                <div class="col-md-12 margintop">
                 
                    <span class="col-md-1"> PSG</span>
                    <span class="col-md-1"><img
                        src="assets/img/PSGlogo.png"
                        width="20px"
                        height="20px"
                      /></span>
                    <span class="col-md-1"> 3</span>
                    <span class="col-md-12" > - </span>
                    <span class="col-md-12" > 3</span>
                    <span class="col-md-12" ><img
                        src="assets/img/PSGlogo.png"
                        width="20px"
                        height="20px"
                      /></span>
                      <span class="col-md-1">OL</span>
                    </div>
                  </table>

                  <table >
            
                    <div class="col-md-12 margintop">
                     
                        <span class="col-md-1"> PSG</span>
                        <span class="col-md-1"><img
                            src="assets/img/PSGlogo.png"
                            width="20px"
                            height="20px"
                          /></span>
                        <span class="col-md-1"> 3</span>
                        <span class="col-md-12" > - </span>
                        <span class="col-md-12" > 3</span>
                        <span class="col-md-12" ><img
                            src="assets/img/PSGlogo.png"
                            width="20px"
                            height="20px"
                          /></span>
                          <span class="col-md-1">OL</span>
                        </div>
                      </table>


    </mat-tab>

    
    
    
  </mat-tab-group>
</div>