.align-calendar-direct{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: -90px;
}

.calendrier{
    width: 30%;
}

.direct-en-cour{
    width: 40%;
    margin-left: 20px;
    margin-top: -120px;
    margin-left: 34px;
}

@media (max-width: 900px){
    .align-calendar-direct{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .calendrier{
        width: 95%;
        margin-left: -50px;
        font-size: 17px;
    }
    .direct-en-cour{
        width: 95%;
        margin: auto;
        align-items: stretch;
        font-size: 17px;
        margin-bottom: 100px;
    }
}