<section class="container-fluid">
  <!-- La 1ère partie : texte et img en left  de la page Qui sommes-nous-->

  <div class="container">
    <h1 class="titlequisommesnous">QUI SOMMES-NOUS</h1>
    <hr class="hr-titleH1" />
    <div>
      <img class="img1-qsn" src="./assets/img/imgQuisommesnous/img1-qsn.png" alt="" />
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita
      reprehenderit architecto saepe repellat autem labore repellendus rem
      laborum sed harum, recusandae debitis rerum sit obcaecati sint eum nostrum
      accusantium deleniti hic, veniam inventore ex? Eligendi, iusto nulla.
      Inventore minima iure praesentium nulla aut odio cum voluptatibus quo.
      Quas cum aspernatur architecto, voluptatum illo necessitatibus numquam non
      corporis error minus earum impedit sit culpa, quidem dignissimos inventore
      sunt nostrum eum tempore in corrupti odit ut harum! Expedita ad recusandae
      illum molestias, officia dignissimos sunt dolorem tenetur illo quasi
      exercitationem incidunt saepe! Maiores quasi dolore sit ut repudiandae ad,
      perferendis voluptas? Nulla?Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Expedita reprehenderit architecto saepe repellat autem
      labore repellendus rem laborum sed harum, recusandae debitis rerum sit
      obcaecati sint eum nostrum accusantium deleniti hic, veniam inventore ex?
      Eligendi, iusto nulla. Inventore minima iure praesentium nulla aut odio
      cum voluptatibus quo. Quas cum aspernatur architecto, voluptatum illo
      necessitatibus numquam non corporis error minus earum impedit sit culpa,
      quidem dignissimos inventore sunt nostrum eum tempore in corrupti odit ut
      harum! Expedita ad recusandae illum molestias, officia dignissimos sunt
      dolorem tenetur illo quasi exercitationem incidunt saepe! Maiores quasi
      dolore sit ut repudiandae ad, perferendis voluptas? Nulla?Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Expedita reprehenderit
      architecto saepe repellat autem labore repellendus rem laborum sed harum,
      recusandae debitis rerum sit obcaecati sint eum nostrum accusantium
      deleniti hic, veniam inventore ex? Eligendi, iusto nulla. Inventore minima
      iure praesentium nulla aut odio cum voluptatibus quo. Quas cum aspernatur
      architecto, voluptatum illo necessitatibus numquam non corporis error
      minus earum impedit sit culpa, quidem dignissimos inventore sunt nostrum
      eum tempore in corrupti odit ut harum! Expedita ad recusandae illum
      molestias, officia dignissimos sunt dolorem tenetur illo quasi
      exercitationem incidunt saepe! Maiores quasi dolore sit ut repudiandae ad,
      perferendis voluptas? Nulla?Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Expedita reprehenderit architecto saepe repellat autem
      labore repellendus rem laborum sed harum, recusandae debitis rerum sit
      obcaecati sint eum nostrum accusantium deleniti hic, veniam inventore ex?
      Eligendi, iusto nulla. Inventore minima iure praesentium nulla aut odio
      cum voluptatibus quo. Quas cum aspernatur architecto, voluptatum illo
      necessitatibus numquam non corporis error minus earum impedit sit culpa,
      quidem dignissimos inventore sunt nostrum eum tempore in corrupti odit ut
      harum! Expedita ad recusandae illum molestias, officia dignissimos sunt
      dolorem tenetur illo quasi exercitationem incidunt saepe! Maiores quasi
      dolore sit ut repudiandae ad, perferendis voluptas? Nulla?
    </p>
  </div>

  <!-- La partie L'EQUIPE  de la page Qui sommes-nous-->
  <div class="container">
    <h1 class="equipe">L' EQUIPE</h1>
    <hr class="hr-titleH1" />
    <div class="team-container">
      <div class="col-md-4 col-xs-12 team-card" *ngFor="let member of membersList">
        <img class="col-md-12 img" [src]="member.img" alt="image {{member.name}}" />
        <h3 class="team-member-name">{{member.name}}</h3>
        <P class="posteoccupe"> {{member.role}}</P>
      </div>
    </div>
  </div>
</section>

<!-- Formulaire contact -->
<section class="container-fluid">
  <div class="formulaire">
    <form (ngSubmit)="form.valid && onSubmit(form)" #form="ngForm" method="POST">
      <h1 class="contacterNous">NOUS CONTACTER</h1>
      <hr class="hr-titleH1" />
      <div class="form-row">
        <div class="col-12">
          <div class="form-block">
            <label for="name">Nom</label>
            <input #nomPrenom="ngModel" type="text" class="form-control" name="name"
              placeholder="Saisissez votre nom & prénom" ngModel required minlength="3" />
            <div class="bobo" *ngIf="form.submitted && nomPrenom.errors">
              <span class="errors" *ngIf="nomPrenom.errors?.required">Le nom et le prénom sont requis.</span>

              <span class="errors" *ngIf="nomPrenom.errors?.minlength">Le nom et le prénom sont requis.</span>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-block">
            <label for="mail">Adresse mail</label>
            <input #email="ngModel" type="text" class="form-control" name="email" placeholder="Saisissez votre email"
              pattern="^[a-zA-Z0-9.!#$%&'+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)$"
              ngModel required />
            <div *ngIf="form.submitted && email.errors">
              <span class="errors" *ngIf="email.errors?.required">
                Votre email est requis.</span>

              <span class="errors" *ngIf="email.errors?.pattern">Le format de l'email est incorrect.
              </span>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-block">
            <label for="tel">Téléphone</label>
            <input #telephone="ngModel" type="text" class="form-control" name="telephone"
              placeholder="Saisissez votre numéro" ngModel required minlength="10" maxlength="10" />
            <div *ngIf="form.submitted && telephone.errors">
              <span class="errors" *ngIf="telephone.errors?.required">Le numéro de téléphone est requis.</span>

              <span class="errors" *ngIf="telephone.errors?.minlength">10 chiffres requis.</span>

              <span class="errors" *ngIf="telephone.errors?.maxlength">10 chiffres requis.</span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-12">
          <div class="form-block">
            <label for="message">Message</label>
            <textarea #message="ngModel" type="text" class="form-control" name="message"
              placeholder="Votre message ici..." ngModel required minlength="1"></textarea>
            <div class="text-center">
              <button class="btn" (click)="onSubmit">Envoyer</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>