<section class="container-fluid">
  <!-- La 1ère partie : texte et img en left  de la page Qui sommes-nous-->

  <div class="container">
    <h1 class="titlequisommesnous">QUI SOMMES-NOUS</h1>
    <hr class="hr-titleH1" />
    <div>
      <img
        class="img1-qsn"
        src="./assets/img/imgQuisommesnous/img1-qsn.png"
        alt=""
      />
    </div>
    <p>
      Direct-Feminin tend à promouvoir le sport féminin et les sportives en leur
      donnant une visibilité. En effet, le sport féminin ne bénéficie pas d'une
      couverture égale à celle du sport masculin dans les médias. Ainsi, la
      proportion de visibilité à la télévision est comprise entre 16 et 20 %
      pour le sport féminin, soit moins de 20 % contre plus de 80 % pour le
      sport masculin. (source : Chiffres-clés ministériels 2019, d'après un
      rapport du Conseil supérieur de l'audiovisuel de septembre 2017). Le but
      du projet est de donner un support aux internautes en leur permettant de
      suivre les équipes préférés. L’accès aux différents classements, au
      calendrier des rencontres ou encore aux résultats des matchs passés ou en
      direct permet aux internautes de rester informés. Une première
      préconisation du Conseil supérieur de l’audiovisuel est de représenter
      équitablement les performances sportives masculines et féminines sur les
      chaînes de télévision et les stations de radios. La deuxième préconisation
      serait d’améliorer l'exposition du sport féminin et la couverture de
      l'actualité des compétitions sportives féminines dans les émissions
      d'information proposant du sport. Direct-féminin souhaiterait pouvoir
      informer des dernières actualités des compétitions sportives (du football,
      du basketball, du rugby à ce jour) et ainsi devenir un support pour
      réduire l’écart de représentation et d’accès aux informations entre le
      sport féminin et le sport masculin.
    </p>
  </div>

  <!-- La partie L'EQUIPE  de la page Qui sommes-nous-->
  <div class="container">
    <h1 class="equipe">L' EQUIPE</h1>
    <hr class="hr-titleH1" />
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <img
          class="col-md-12 img"
          src="./assets/img/imgQuisommesnous/img3-team.png"
          alt="image ceo"
        />
        <h3 class="team-member-name">Hermann ADINSI</h3>
        <P class="posteoccupe"> Chargé de Com</P>
      </div>
      <div class="col-md-4 col-xs-12">
        <img
          class="col-md-12 img"
          src="./assets/img/imgQuisommesnous/img3-team.png"
          alt="image ceo"
        />
        <h3 class="team-member-name">Hermann ADINSI</h3>
        <P class="posteoccupe"> Chargé de Com</P>
      </div>
      <div class="col-md-4 col-xs-12">
        <img
          class="imgteam"
          src="./assets/img/imgQuisommesnous/img2-team.png"
          class="col-md-12"
          alt="image ceo"
        />
        <h3 class="team-member-name">Hermann ADINSI</h3>
        <P class="posteoccupe"> Chargé de Com</P>
      </div>
    </div>

    <div class="row team-member-ligne2">
      <div class="col-md-4 col-xs-12">
        <img
          src="./assets/img/imgQuisommesnous/img4-team.png"
          class="col-md-12"
          alt="image ceo"
        />
        <h3 class="team-member-name">Hermann ADINSI</h3>
        <P class="posteoccupe"> Chargé de Com</P>
      </div>
      <div class="col-md-4 col-xs-12">
        <img
          class="col-md-12"
          src="./assets/img/imgQuisommesnous/img5-team.png"
          alt="image ceo"
        />
        <h3 class="team-member-name">Hermann ADINSI</h3>
        <P class="posteoccupe"> Chargé de Com</P>
      </div>
    </div>
  </div>
</section>

<!-- Formulaire contact -->

<section class="container-fluid graybackground">
  <form (ngSubmit)="f.valid && onSubmit(f)" #f="ngForm" method="POST">
    <div class="container contact">
      <h1 class="contacternous">NOUS CONTACTER</h1>
      <hr class="hr-titleH1" />
      <div class="row">
        <input
          #nomPrenom="ngModel"
          placeholder="Saisissez votre nom & prénom"
          class="form-control col-md-12 col-xs-12 inputcontact"
          type="text"
          name="name"
          ngModel
          required
          minlength="3"
        />
        <br /><br />

        <!-- Formulaire contact : Vérification / validation 1-->
        <div *ngIf="f.submitted && nomPrenom.errors">
          <span class="errors" *ngIf="nomPrenom.errors?.required"
            >Le nom et le prénom est requis</span
          >

          <span class="errors" *ngIf="nomPrenom.errors?.minlength"
            >Le nom et le prénom est requis</span
          >
        </div>

        <input
          #email="ngModel"
          placeholder="Saisissez votre email"
          class="col-md-12 col-xs-12 inputcontact"
          type="text"
          name="email"
          ngModel
          required
          pattern="^[a-zA-Z0-9.!#$%&'+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)$"
        /><br /><br />

        <div *ngIf="f.submitted && email.errors">
          <span class="errors" *ngIf="email.errors?.required">
            Email requis</span
          >

          <span class="errors" *ngIf="email.errors?.pattern"
            >Format email incorrect
          </span>
        </div>

        <input
          #telephone="ngModel"
          placeholder="Saisissez votre numéro de téléphone"
          class="col-md-12 col-xs-12 inputcontact"
          type="text"
          name="telephone"
          ngModel
          required
          minlength="10"
          maxlength="10"
        /><br /><br />

        <div *ngIf="f.submitted && telephone.errors">
          <span class="errors" *ngIf="telephone.errors?.required"
            >Votre numéro doit contenir 10 chiffres</span
          >

          <span class="errors" *ngIf="telephone.errors?.minlength"
            >Votre numéro doit contenir 10 chiffres</span
          >

          <span *ngIf="telephone.errors?.maxlength"
            >Votre numéro doit contenir 10 chiffres</span
          >
        </div>

        <input
          #message="ngModel"
          placeholder="Votre message ici ..."
          class="col-md-12 col-xs-12 inputtext"
          type="text"
          name="message"
          ngModel
          required
          minlength="1"
        /><br /><br />
        <br /><br />

        <div *ngIf="f.submitted && message.errors">
          <span class="errors" *ngIf="message.errors?.required"
            >Saisissez votre message</span
          >

          <span class="errors" *ngIf="message.errors?.minlength"
            >Saisissez votre message
          </span>
        </div>

        <button type="submit" class="col-md-12 col-xs-2 boutonenvoyer">
          Envoyer</button
        ><br /><br />
      </div>
    </div>
  </form>
</section>
