/* GLOBAL*/

.border1 {
  border: 1px solid rgb(36, 224, 136);
}
.border2 {
  border: 1px solid rgb(224, 127, 36);
}
.border3 {
  border: 1px solid rgb(224, 36, 83);
}

/* Partie 1 de page Qui sommes-nous (tout avant l'équipe)*/
.titlequisommesnous,
.equipe,
.contacterNous {
  font-size: 25px;
  font-weight: 100px;
  text-align: center;
  margin-top: 10px;
  padding-top: 50px;
}

.hr-titleH1 {
  width: 10%;
  height: 2px;
  background-color: red;
  margin-bottom: 20px;
}

.img1-qsn {
  width: 30%;
  float: left;
  margin: 0 40px 15px 0px;
}

/* Partie L'Equipe de page Qui sommes-nous */

.team-container{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
.team-card{
  margin-top: 5%;
}
.membreequipe {
  flex-direction: column;
  align-items: center;
}

.img {
  border: none;
}
.team-member-name {
  text-align: center;
  margin-top: 5%;
  font-size: 22px;
  font-weight: 50;
}

.posteoccupe {
  text-align: center;
  color: gray;
  font-size: 15px;
  font-style: italic;
}

/* Partie CONTACTER-NOUS de page Qui sommes-nous */
.formulaire form {
  padding: 40px;
  background-color: #f2f2f2;
  margin: 40px 0;
  border-radius: 15px;
}
.formulaire form .form-control {
  border-radius: 0;
  border: solid 1px #d2d2dd;
  padding: 30px 0 30px 10px;
  margin-bottom: 20px;
  transition-duration: 0.5s;
  background-color: white;
  border-radius: 25px;
  width: 80%;
  margin: 0 auto;
}
.formulaire form .form-control:focus {
  border: solid 1px #dc3545;
}
.formulaire form .form-block {
  position: relative;
}
.formulaire form .form-block label {
  font-size: 14px;
  font-weight: bold;
  position: relative;
  top: 10px;
  display: block;
  opacity: 0;
  -webkit-transition: top 0.5s ease, opacity 0.5s ease;
  -moz-transition: top 0.5s ease, opacity 0.5s ease;
  -ms-transition: top 0.5s ease, opacity 0.5s ease;
  transition: top 0.5s ease, opacity 0.5s ease;
}
.formulaire form .form-block-value label {
  top: 3px;
  opacity: 1;
}
.formulaire form .form-block-focus label {
  color: #dc3545;
}
.formulaire form textarea {
  height: 170px;
}
.formulaire form .btn {
  background-color: #dc3545;
  color: #fff;
  padding: 5px 20px;
  transition-duration: 0.5s;
  border-radius: 30px;
  width: 80%;
  font-weight: bolder;
  margin-top: 50px;
}
.formulaire form .btn:hover {
  color: black;
}
.errors {
  color: red;
  margin-left: 11%;
}
input::placeholder {
  text-align: center;
}
textarea::placeholder {
  text-align: center;
}
