
  <section class="container-fluid">
    
    <!-- La 1ère partie : texte et img en left  de la page Qui sommes-nous-->

      <div class="container" >
          <h1 class="titlequisommesnous">QUI SOMMES-NOUS</h1>
          <hr class="hr-titleH1"/>
          <div>
              <img class = "img1-qsn" src="./assets/img1-qsn.png" alt="">
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Expedita reprehenderit architecto saepe repellat autem
               labore repellendus rem laborum sed harum, recusandae 
               debitis rerum sit obcaecati sint eum nostrum accusantium
                deleniti hic, veniam inventore ex? Eligendi, iusto nulla. 
                Inventore minima iure praesentium nulla aut odio cum 
                voluptatibus quo. Quas cum aspernatur architecto, 
                voluptatum illo necessitatibus numquam non corporis 
                error minus earum impedit sit culpa, quidem dignissimos
                 inventore sunt nostrum eum tempore in corrupti odit ut
                  harum! Expedita ad recusandae illum molestias, officia 
                  dignissimos sunt dolorem tenetur illo quasi 
                  exercitationem incidunt saepe! Maiores quasi 
                  dolore sit ut repudiandae ad, perferendis 
                  voluptas? Nulla?Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  Expedita reprehenderit architecto saepe repellat autem
                   labore repellendus rem laborum sed harum, recusandae 
                   debitis rerum sit obcaecati sint eum nostrum accusantium
                    deleniti hic, veniam inventore ex? Eligendi, iusto nulla. 
                    Inventore minima iure praesentium nulla aut odio cum 
                    voluptatibus quo. Quas cum aspernatur architecto, 
                    voluptatum illo necessitatibus numquam non corporis 
                    error minus earum impedit sit culpa, quidem dignissimos
                     inventore sunt nostrum eum tempore in corrupti odit ut
                      harum! Expedita ad recusandae illum molestias, officia 
                      dignissimos sunt dolorem tenetur illo quasi 
                      exercitationem incidunt saepe! Maiores quasi 
                      dolore sit ut repudiandae ad, perferendis 
                      voluptas? Nulla?Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                      Expedita reprehenderit architecto saepe repellat autem
                       labore repellendus rem laborum sed harum, recusandae 
                       debitis rerum sit obcaecati sint eum nostrum accusantium
                        deleniti hic, veniam inventore ex? Eligendi, iusto nulla. 
                        Inventore minima iure praesentium nulla aut odio cum 
                        voluptatibus quo. Quas cum aspernatur architecto, 
                        voluptatum illo necessitatibus numquam non corporis 
                        error minus earum impedit sit culpa, quidem dignissimos
                         inventore sunt nostrum eum tempore in corrupti odit ut
                          harum! Expedita ad recusandae illum molestias, officia 
                          dignissimos sunt dolorem tenetur illo quasi 
                          exercitationem incidunt saepe! Maiores quasi 
                          dolore sit ut repudiandae ad, perferendis 
                          voluptas? Nulla?Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                          Expedita reprehenderit architecto saepe repellat autem
                           labore repellendus rem laborum sed harum, recusandae 
                           debitis rerum sit obcaecati sint eum nostrum accusantium
                            deleniti hic, veniam inventore ex? Eligendi, iusto nulla. 
                            Inventore minima iure praesentium nulla aut odio cum 
                            voluptatibus quo. Quas cum aspernatur architecto, 
                            voluptatum illo necessitatibus numquam non corporis 
                            error minus earum impedit sit culpa, quidem dignissimos
                             inventore sunt nostrum eum tempore in corrupti odit ut
                              harum! Expedita ad recusandae illum molestias, officia 
                              dignissimos sunt dolorem tenetur illo quasi 
                              exercitationem incidunt saepe! Maiores quasi 
                              dolore sit ut repudiandae ad, perferendis 
                              voluptas? Nulla?
                </p>


      </div>

      <!-- La partie L'EQUIPE  de la page Qui sommes-nous-->
      <div class="container">
        <h1 class="equipe">L' EQUIPE</h1>
        <hr class="hr-titleH1"/>
        <div class="row">
            <div class="col-md-4 col-xs-12 ">
                <img class="col-md-12 img " src="./assets/img3-team.png"   alt="image ceo">
                <h3  class="team-member-name">Hermann ADINSI</h3>
                <P   class="posteoccupe"> Chargé de Com</P>
            </div>
            <div class="col-md-4 col-xs-12 ">
                <img  class="col-md-12 img"  src="./assets/img3-team.png" alt="image ceo">
                <h3 class="team-member-name">Hermann ADINSI</h3>
                <P class="posteoccupe"> Chargé de Com</P>
            </div>
            <div class="col-md-4 col-xs-12 " >
                <img class="imgteam"  src="./assets/img2-team.png" class="col-md-12" alt="image ceo">
                <h3 class="team-member-name">Hermann ADINSI</h3>
                <P class="posteoccupe" > Chargé de Com</P>
            </div>
        </div>

        <div class="row team-member-ligne2">
            <div class="col-md-4 col-xs-12 ">
                <img src="./assets/img4-team.png" class="col-md-12"  alt="image ceo">
                <h3 class="team-member-name">Hermann ADINSI</h3>
                <P class="posteoccupe"> Chargé de Com</P>
            </div>
            <div class="col-md-4 col-xs-12 ">
                <img  class="col-md-12"  src="./assets/img5-team.png" alt="image ceo">
                <h3 class="team-member-name">Hermann ADINSI</h3>
                <P class="posteoccupe"> Chargé de Com</P>
            </div>
           
        </div>
      </div>
  </section>


  <!-- Formulaire contact -->

  <section class="container-fluid graybackground">
      <form (ngSubmit)= "f.valid && onSubmit(f)" #f="ngForm" method="POST">
       
   
      <div class="container contact">
            <h1 class="contacternous">NOUS CONTACTER</h1>
            <hr class="hr-titleH1"/>
            <div class="row">
            
            <input #nomprenom="ngModel" placeholder="Saisissez votre nom & prénom" class="form-control col-md-12 
            col-xs-12  inputcontact" type="text" name="name" ngModel required minlength="3"> <br><br>
            
             <!-- Formulaire contact : Vérification / validation 1-->
            <div *ngIf="f.submitted && nomprenom.errors">
  
                <span *ngIf="nomprenom.errors?.required">Le Nom et le prénom est requis</span>
            
                <span *ngIf="nomprenom.errors?.minlength">Le Nom et le prénom est requis</span>
            
            </div>

            <input #email="ngModel" placeholder="Saisissez votre email" class="col-md-12 col-xs-12  
            inputcontact "  type="text" name="email" ngModel required 
            pattern="^[a-zA-Z0-9.!#$%&'+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)$"><br><br>

            <div *ngIf="f.submitted && nomprenom.errors">
  
                <span *ngIf="email.errors?.required"> Email requis</span>
            
                <span *ngIf="email.errors?.pattern">Format email incorrect </span>
            
            </div>

            <input #telephone="ngModel" placeholder="Saisissez votre numéro de téléphone" class="col-md-12 
            col-xs-12  inputcontact " type="text" name="telephone" ngModel required minlength="10" maxlength="10"><br><br>

            <div *ngIf="f.submitted && nomprenom.errors">
  
                <span *ngIf="telephone.errors?.required">Votre numéro doit contenir 10 chiifres</span>
            
                <span *ngIf="telephone.errors?.minlength">Votre numéro doit contenir 10 chiifres</span>

                <span *ngIf="telephone.errors?.maxlength">Votre numéro doit contenir 10 chiifres</span>
            
            </div>

            <input #message="ngModel" placeholder="Votre message ici ..." class="col-md-12 col-xs-12  inputtext" type="text" name="message" ngModel required minlength="1"><br><br> <br><br>

            <div *ngIf="f.submitted && message.errors">
  
                <span *ngIf="message.errors?.required">Saisissez votre message</span>
            
                <span *ngIf="message.errors?.minlength">Saisissez votre message </span>
            
            </div>

            <button type="submit" class="col-md-12 col-xs-2  boutonenvoyer" 
             > envoyer</button><br><br>
            </div>
        </div>
       </form>
  </section>
