.align-calendar-direct {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.calendrier {
  height: 550px;
  margin: auto;
  margin: auto;
}

@media (max-width: 767px) {
  .align-calendar-direct {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .calendrier {
    width: 100%;
    font-size: 17px;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  .direct-en-cour {
    width: 95%;
    margin: auto;
    align-items: stretch;
    font-size: 17px;
    height: 100%;
  }
}
