.align-calendar-direct{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: -6px;
    margin-bottom: -90px;
    width: 100%;
}

.calendrier{
    width: 30%;
    transform: translateX(150px);
}

.direct-en-cour{
    width: 70%;
    margin-left: 20px;
    transform: translateX(300px);
    margin-top: -120px;
    margin-left: 34px;
}


/* largeur d'écran 1000px ex:ordi/tablette*/

@media (max-width: 1000px){
    .align-calendar-direct{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .calendrier{
        width: 100%;
        margin-left: -350px;
        font-size: 17px;
    }
    .direct-en-cour{
        width: 100%;
        margin-left: -60px;
        align-items: stretch;
        font-size: 17px;
        margin-bottom: 100px;
    }
}

/*largeur d'écran en dssous de 411px ex: IPHONE X*/

@media (max-width: 411px){

    .direct-en-cour{
        width: 100%;
        margin-left: -600px;
    }
}