


/* largeur d'écran 1000px ex:ordi/tablette*/

@media (max-width: 1000px){
    .align-calendar-direct{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .calendrier{
        width: 100%;
        margin-left: -350px;
        font-size: 17px;
    }
    .direct-en-cour{
        width: 100%;
        margin-left: -60px;
        align-items: stretch;
        font-size: 17px;
        margin-bottom: 100px;
    }
}

/*largeur d'écran en dessous de 411px ex: IPHONE X*/

@media (max-width: 411px){

    .direct-en-cour{
        width: 100%;
        margin-left: -600px;
    }
}