<nav
  class="navbar navbar-expand-md navbar-light bg-white d-flex justify-content-between"
>
  <a class="navbar-brand" [routerLink]="['/football']">
    <picture>
      <source
        srcset="../../assets/img/imgLogoIcon/logoDf.png"
        media="(min-width: 768px)"
      />
      <img
        src="../../assets/imgLogoIcon/img/logoDfsmall.png"
        alt="Logo du site."
        class="d-inline-block align-middle mr-2"
      />
    </picture>
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-dark" [routerLink]="['/football']"
          >Football <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" [routerLink]="['/basketball']"
          >Basket-ball</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" [routerLink]="['/rugby']">Rugby</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" [routerLink]="['/tennis']">Tennis</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" [routerLink]="['/news']">News</a>
      </li>
    </ul>
  </div>
</nav>
