.align-calendar-direct {
  display: flex;
  align-items: center;
  margin-top: 5%;
  padding: 0px;
}

.calendrier {
  width: 100%;
  height: 550px;
}

.direct-en-cour {
  width: 100%;
  box-sizing: border-box;
  height: 100%;
}

@media (max-width: 767px) {
  .align-calendar-direct {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .calendrier {
    width: 100%;
    font-size: 17px;
    margin: auto;
  }
  .direct-en-cour {
    width: 95%;
    margin: auto;
    align-items: stretch;
    font-size: 17px;
    height: 100%;
  }
}
